{% extends "product_base.html" %}

{% load django_bootstrap5 %}

{% block product_body %}
    <div class="row">
        <div class="col">
            <h1>{{ product.name }}</h1>
            <p>金額：{{ product.price }}</p>
            <p>庫存：{{ product.count }}</p>

            <form action="{% url "products:product_add_to_shop_car" pk=product.pk %}"
                  method="post">
                {% csrf_token %}
                {% bootstrap_form add_to_shop_car_form %}
                {% bootstrap_button button_type="submit" content="加入購物車" %}
            </form>
 
            {% if product.description %}
                <hr>
                <p class="text-wrap text-break">{{ product.description|linebreaksbr }}</p>
            {% endif %}
 
            {% if request.user.is_staff and perms.products.view_product %}
                <hr>
                <a class="btn btn-info"
                   href="{% url "admin:products_product_change" object_id=product.pk %}">管理此產品</a>
            {% endif %}
        </div>
    </div>
{% endblock product_body %}
