{% extends "product_base.html" %}

{% block product_body %}
    <div class="row">
        {% for product in products %}
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ product.category.name }} | {{ product.tags.all|join:", " }}</h6>
                        <p class="card-text text-truncate">
                            {% if product.description %}
                                {{ product.description }}
                            {% else %}
                                點進詳細看更多
                            {% endif %}
                        </p>
                        <a href="#" class="card-link">詳細資訊</a>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="col">
                <p class="text-center">目前沒有商品</p>
            </div>
        {% endfor %}
    </div>
 

{% endblock product_body %}
